<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programming Worrior</title>
    <link rel="stylesheet" href="/static/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section class="body">
    <section id="home">
        <div class="bg-img">
            <div class="container">
                <div class="nav">
                    <div class="nav-header">
                        <div class="nav-title">
                            Programming Warriors
                        </div>
                    </div>
                    <div class="nav-btn">
                        <label for="nav-check">
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>
                    <input type="checkbox" id="nav-check">
                    <div class="nav-links">
                        <a href="#prize">Prizes</a>
                        <a href="#guide">Guideline</a>
                        <a href="#FAQ">FAQ</a>
                        <a href="#schedule">Schedule</a>
                        <a href="#about">About</a>
                    </div>
                </div>
            </div>
            <div class="reg-btn">
                <a href="#register">Register Here</a>
            </div>

        </div>
    </section>

    <section id="about">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ipsa ipsum iste, laboriosam molestias
            quaerat! Aspernatur culpa eos fugit id, in iusto molestiae natus rerum sunt, tempora tenetur vitae
            voluptatibus.
        </p>
    </section>


    <section id="schedule">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam deleniti, est eum laudantium
            molestias obcaecati porro quia quis vel? Alias maxime nesciunt perferendis tenetur! Eaque facere sit tempora
            temporibus?
        </p>
    </section>


    <section id="FAQ">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, commodi consequatur deleniti dolor eius
            error esse in magnam mollitia natus nisi numquam porro quia quidem rem repellat tempore veniam vero.
        </p>
    </section>


    <section id="guide">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis, deleniti ea eligendi exercitationem
        facilis fugiat illo impedit labore laudantium magnam, nam optio soluta suscipit voluptates voluptatibus
        voluptatum. Asperiores, quam.
    </section>

    <section id="prize">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid autem blanditiis, corporis
            dicta distinctio doloribus dolorum fuga harum incidunt laborum magni nobis quibusdam sunt veritatis
            voluptate voluptatem. Recusandae, voluptatem.
        </p>
    </section>


</section>
</body>
</html>
