<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programming Worrior</title>
    <link rel="stylesheet" href="/static/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section class="body">
    <section id="home">
        <div class="bg-img">
            <div class="container">
                <div class="nav">
                    <div class="nav-header">
                        <div class="nav-title">
                            Programming Warriors
                        </div>
                    </div>
                    <div class="nav-btn">
                        <label for="nav-check">
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>
                    <input type="checkbox" id="nav-check">
                    <div class="nav-links">
                        <a href="#about">About</a>
                        <a href="#schedule">Timeline</a>
                        <a href="#rules">Rules</a>
                        <a href="#FAQ">FAQ</a>
                        <!-- <a href="#prize">Prizes</a> -->
                        <a href={{ url_for('login') }}>Login</a>
                    </div>
                </div>
            </div>

            <div class="punch-holder">
                <div class="punch-line">
                    Programmers never die!

                </div>
                <div class="punch-done">
                    When you feel like giving up,<br>
                    remember<br>
                    why you held on <br>
                    for so long <br>
                    in first place.
                </div>

            </div>

            <div class="reg-btn">
                <a href={{ url_for('signup') }}>Register Here</a>
            </div>
        </div>

    </section>

    <section id="about">
        <div class="about-holder">
            <div class="box">
                <div class="about-title">
                    Programming Warriors by Foslipy Pvt Ltd. <br>
                </div>
                <p class="para-about">
                    PW is a not-for-profit educational initiative by FOSLIPY, an Indian Open Source company. We are
                    creating a programming community that fosters learning and friendly competition. We are building a
                    large community of problem curators.
                </p>
                <p class="para-about">
                    At PW, we work hard to revive the geek in you by hosting a programming contest at the start of the
                    month.
                </p>
                <p class="para-about    ">
                    PW will help programmers make it big in the world of algorithms, computer programming and
                    programming contests. We host featured contests every month and give away prizes and goodies to the
                    winners as encouragement.
                </p>
            </div>
        </div>

    </section>


    <section id="schedule">
        <div class="box">
            <h1 class="schedule-title">The Full Program Timeline</h1>
            <div class="timeline">
                <ul>
                    <li>
                        <div class="content">
                            <h3 style="padding: 20px">Topic Synopsis</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. </p>
                        </div>
                        <div class="time">
                            <h4>1 October</h4>
                        </div>
                    </li>

                    <li>
                        <div class="content">
                            <h3>40% Work on Github</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. </p>
                        </div>
                        <div class="time">
                            <h4>9 October</h4>
                        </div>
                    </li>

                    <li>
                        <div class="content">
                            <h3>80% Work on Github</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. </p>
                        </div>
                        <div class="time">
                            <h4>17 October</h4>
                        </div>
                    </li>

                    <li>
                        <div class="content">
                            <h3>Complete 100% code should be on GitHub</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. </p>
                        </div>
                        <div class="time">
                            <h4>20 October</h4>
                        </div>
                    </li>

                    <li>
                        <div class="content">
                            <h3>Assessment of work by Technical Team</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. </p>
                        </div>
                        <div class="time">
                            <h4>21-24 October</h4>
                        </div>
                    </li>

                    <li>
                        <div class="content">
                            <h3>Name will be announced on our Portal who have completed the Work.</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. </p>
                        </div>
                        <div class="time">
                            <h4>25 October</h4>
                        </div>
                    </li>

                    <li>
                        <div class="content">
                            <h3>Participants will be called to give presentation on the Work done.</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. </p>
                        </div>
                        <div class="time">
                            <h4>26-28 October</h4>
                        </div>
                    </li>

                    <li>
                        <div class="content">
                            <h3>Results will be announced & Winner will be declared on Portal.</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. </p>
                        </div>
                        <div class="time">
                            <h4>29 October</h4>
                        </div>
                    </li>

                    <li>
                        <div class="content">
                            <h3>A small program will be organised at the Winning college and Best Coder will awarded
                                with Medal and prize money.</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. </p>
                        </div>
                        <div class="time">
                            <h4>30 October</h4>
                        </div>
                    </li>

                    <div style="clear:both;"></div>
                </ul>
            </div>

        </div>

    </section>


    <section id="FAQ">
        <div class="box">
            <h1 style="text-align: center; font-size: 35px; padding: 20px; color: rgba(78, 171, 233, 1)">FAQ</h1>
            <div class="faq">
                <ul>
                    <li>
                        <div class="question">
                            <h3> Who can register for the competition?</h3>
                            <p>
                                Only College can register and suggest 2 name (1 Group) of the students (Max 2 Group
                                allowed from 1 college).
                            </p>
                        </div>
                    </li>


                    <li>
                        <div class="question">
                            <h3>How Do I Send You All The Files?</h3>
                            <p>
                                Upload your project to github and give us your project repository link.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="question">
                            <h3>What will college get? </h3>
                            <p>
                                Winning college will get a Revolving Trophy (College name printed on the Trophy) and
                                Letter of appreciation (in frame).
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="question">
                            <h3>What will Students get? </h3>
                            <p>
                                Winners will get a Prize Money, Certificate and a Medal.
                            </p>
                        </div>
                    </li>


                    <li>
                        <div class="question">
                            <h3>Participation's Fees for joining the Competition? </h3>
                            <p>
                                Competition Fees Per College is 1000/- Rs.
                            </p>
                        </div>
                    </li>

                    For any other query inquires please form via our contact page.
                </ul>
            </div>
        </div>
    </section>


    <section id="rules">
        <div class="box">
            <u><h2 class="title-guide">Rules & Regulations - Programming Warriors</h2></u>

            <ol>
                <li>All programs must be created manually with understanding, no direct code copy & paste allowed.</li>
                <br>
                <li>No team must interfere with the progress of other Teams.</li>
                <br>
                <li>All information provided to register for Programming Warriors must be true and correct. <br>
                    You are solely responsible for keeping all information up-to-date.
                </li>
                <br>
                <li>All submissions must be done on time, according to the given schedule.</li>
                <br>
                <li>The decision of organisers will be final. <br>
                    In case of any queries, you can contact the technical/admin heads directly.
                </li>
                <br>
                <li>You may not assign, delegate or transfer your registration for the Programming Warriors and/or any
                    of
                    <br>
                    your
                    rights or obligations under these Terms and Conditions. <br> Any attempted assignment, delegation or
                    transfer
                    shall be void.
                </li>
                <br>
                <li>The winning institute/college has to organise the prize distribution ceremony in their campus.</li>
                <br>
                <li>These terms cannot be modified or changed except with the written agreement of Foslipy Pvt Ltd.</li>


            </ol>
            Guidelines: <br> <br>

            Competition Schema: <br> <br>
            <div style="padding-left: 40px">

                Day 1 : Competition Begins with introduction, allotment and synopsis. <br><br>
                Day 9 : 40% task to be submitted on GitHub. <br><br>
                Day 16 : 80% task to be submitted on GitHub. <br><br>
                Day 20 : 100% task submission. <br><br>
                Day 21-24 : Assessment <br><br>
                Day 25 : Declaration of qualified participants on our official portal <br><br>
                Day 26-28 : Visit office and give a brief presentation and explaination about the task done. <br><br>
                Day 29 : Declaration of winners on our official portal. <br><br>
                Day 30 : Prize distribution ceremony to felicitate winners. <br><br>
            </div>
            To know more about how to submit progress on GitHub,
            check this link <a href="http://www.foslipy.org/">foslipy.org</a> <br>
            Event Manager: Mr.Shubham Dumbre <br>
            Contact: shubham@foslipy.com <br><br>
            Technical Manager: Mr.Shivam Gupta <br>
            Contact: shivam@foslipy.com <br><br>
            Admin Manager: Ms.Trupti J. <br>
            Contact: trupti@foslipy.com <br><br>

            Helpline number : 123456789 <br>
            Email: pw@foslipy.com
        </div>
    </section>

    <!--
    <section id="prize">
        <div class="box">

        </div>

    </section>
    -->

</section>

<!--

Registration page for college:
    1. College Name
    2. HOD/Professor Contact Details
    3. Student 1 Details need to upload student id
    4. Student 2 Details need to upload student id
    5. Payment to be received.

-->
</body>
</html>
