<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programming Worrior</title>
    <link rel="stylesheet" href="/static/home.css">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>
<body>
<section class="body">
    <section id="home">
        <div class="bg-img">
            <div class="container">
                <div class="topnav">
                    <a href="#home" style="float: left; font-size: 25px;border: none ">Programming Warriors</a>
                    <a href="#prize">Prizes</a>
                    <a href="#guide">Guideline</a>
                    <a href="#FAQ">FAQ</a>
                    <a href="#schedule">Schedule</a>
                    <a href="#about">About</a>
                </div>
            </div>
            <div class="reg-btn">
                <a href="#register">Register Here</a>
            </div>
        </div>
    </section>

    <section id="prize">

    </section>
</section>
</body>
</html>